.modal-dialog {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
   max-width: 46.875rem;
}

.modal-header {
	background-color: #485D6B;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: toRem(19) toRem(20);
	border-bottom: initial !important;
}
.modal-title {
	font-size: toRem(17);
	line-height: 120%;
	color: #fff;
}
.modal-body {
	padding: toRem(20);

	label {
		padding: 10px 0 12px;
	}
}
.modal-footer {
	border-top: initial !important;
	padding-top: 0;
	padding-bottom: 25px;

	.buttons-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1.5rem;
		width: 100%;
	}

	.blue-button, .grey-button {
		flex: 0 0 11.1875rem;
		height: 2.625rem;
		border-radius: 4px;
		cursor: pointer;
	}
}




#newtarget, #all-actions {
	.modal-dialog {
		width: 100%;
		max-width: toRem(384) !important;

		@media (max-width:$mobile){
			max-width: toRem(295) !important;
		}
	}
}
#setTarget {
	.modal-dialog {
		width: 100%;
		max-width: toRem(380) !important;
	}
}
#enterTimeSpent {
	.modal-dialog {
		width: 100%;
		width: toRem(284) !important;
	}

	.modal-body {
		@media (max-width:$mobile){
			padding: toRem(10) toRem(20) 0;
		}
	}

	.modal-header {
		background-color: #fff;
	}
	.modal-title {
		color: #485D6B;
		display: flex;
		align-items: center;
		gap: toRem(10);
	}

	.blue-button {
		@media (max-width:$mobile){
			margin-bottom: toRem(25); 
		}
	}
}
.time-element-wrapper {
	display: flex;
	align-items: center;
	gap: toRem(25);
	&:not(:last-child) {
		margin-bottom: 25px;
	}
	&:last-child {
		margin-bottom: 10px;
	}


	input {
		text-align: right;
		flex: 0 0 toRem(138);
	}

	label {
		margin-bottom: 0;
	}
}

#vat {
	.modal-dialog {
		max-width: toRem(380);
	}
	.modal-title {
		padding-top: toRem(8);
		@media (max-width:$mobile){
			 font-size: toRem(16);
			 margin-bottom: toRem(17);
		}
	}
	.vat-choice-wrapper {
		@media (max-width:$mobile){
			 gap: toRem(50); 
		}
	}
	
	.modal-body {
		@media (max-width:$mobile){
			padding: toRem(10) toRem(21) 0;
		}
	}

	label {
		padding-top: toRem(15);
	}
}


.vat-body {
	// .vat-body__title
	&__title {
		font-size: toRem(18);
		line-height: 177%;
		text-align: center;
		color: #485D6B;
	}
	button {
		max-width: 180px;
		min-width: 180px;
	}
}
.vat-choice-wrapper {
	gap: toRem(75);
	padding-bottom: toRem(20);
}
.radio-label {
	display: flex;
	align-items: center;
	gap: toRem(8);
	font-weight: 500 !important;
	font-size: toRem(18) !important;
	text-align: center;
}
.radio-input {
   transform: scale(1.3);
}