// html {
//   font-size: 100%;

// }

.page {
	padding-top: toRem(100);
	padding-bottom: toRem(100);

	@media (max-width:$mobile){
		 padding-bottom: 0; 
	}
}

.main-title {
	// .main-title__container
	&__container {
		padding-top: toRem(40);
		padding-bottom: toRem(40);
		position: relative;

		@media (max-width:$tablet){
			padding-top: toRem(35);
			padding-bottom: toRem(35);
		}
		@media (max-width:$mobile){
			padding-top: toRem(30);
			padding-bottom: toRem(30); 
		}
		@media (max-width:$mobileSmall){
			padding-top: toRem(20);
			padding-bottom: toRem(20);
		}
	}
	// .main-title__title
	&__title {
		font-weight: 700;
		line-height: 100%;
		color: #485D6B;
		@include adaptiveValue("font-size", 28, 16);
	}

	.actions {
		display: none;

		@media (max-width:$mobile){
			position: absolute;
			top: toRem(30);
			right: toRem(30);
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 11px; 
			cursor: pointer;
		}

		@media (max-width:$mobileSmall){
			 top: toRem(20);
			 right: toRem(20); 
		}
	}
}


//=============================================== ELEMENTS OF FORM ========================================================

.select_form {
	position: relative;
	font-weight: 500 !important;
	font-size: toRem(17) !important;
	line-height: 141%;
	color: #485D6B !important;
	background-color: #fff;
}
.select-mini {
	.select_form {
		border: 1px solid #E3E5ED;
		border-radius: toRem(4);
		padding: toRem(4) toRem(12) 1px;
	}
	.select__title {
		width: calc(100% - toRem(15));
	}
	.select__options {
		top: calc(100% + 1px);
		margin-left: toRem(-12);
		padding: toRem(10) toRem(15) toRem(5) toRem(22);
	}
}
.select__title {
	display: flex;
	align-items: center;
	gap: toRem(8);
	margin: toRem(5) toRem(5) toRem(10) toRem(10);
	width: 100%;
	
	&::after {
		content:'';
		display: block;
		width: toRem(15);
		height: toRem(8);
		background: url('@img/icon-select.svg') center center no-repeat;
	}
}
.select__value {
	width: 100%;
	text-align: left;
}
.select__options {
	font-weight: 500;
	font-size: 13px;
	background-color: #fff;
}
._select-open {
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.05);
}
._select-open .select__title {
	&::after {
		transform: rotate(-180deg);
	}
}
.select__options {
	box-shadow: -0 6px 16px 0 rgba(0, 0, 0, 0.05);
	padding: toRem(10) toRem(10) toRem(5);
	position: absolute;
	width: 100%;
	background-color: #fff;
	border-radius: 4px;
	
}
.select__option {
	white-space: nowrap;
	padding: toRem(5) 0 toRem(8);
}
.select__scroll {
	width: min-content;
}

.select__content {
	font-family: "Montserrat" !important;
	font-weight: 500 !important;
	font-size: toRem(17) !important;
	line-height: 141%;
	color: #485D6B !important;
	letter-spacing: initial;
	@media (max-width:$mobile){
		 font-size: toRem(16) !important; 
	 }
	@media (max-width:$mobileSmall){
		font-size: toRem(15) !important; 
	}
}

.form-row {
	display: flex;
	gap: toRem(30);

	@media (max-width:$mobile){
		flex-wrap: wrap; 
		gap: 0;
	}
	// .form-row__col
	&__col {
		flex: 0 1 50%;

		@media (max-width:$mobile){
			 flex: 1 1 100%; 
		}
	}
}
.form-row__label {
	font-weight: 600;
	font-size: toRem(17);
	line-height: 141%;
	margin-bottom: toRem(10);

	@media (max-width:$mobile){
		padding-top: toRem(18);
	}
}
textarea {
	border: 1px solid #E3E5ED;
	border-radius: 4px;
	padding: toRem(13) toRem(20);
	font-weight: 500;
	outline: none;
}
input {
	border: 1px solid #E3E5ED;
	border-radius: 4px;
	padding: toRem(13) toRem(20);
	font-weight: 500;
	outline: none;
}
td input {
	padding: toRem(11) toRem(20);
}
textarea:focus, input:focus {
	border-color: #7715CD;
}




.color-picker-wrapper {
	position: relative;
	display: inline-block;
	width: 100%;
}

.color-picker-wrapper input[type="color"] {
	opacity: 0; 
	width: 100%;
	height: toRem(40);
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}
.color-placeholder {
	display: inline-block;
	border-radius: 4px;
	width: toRem(100);
	height: toRem(23);
	font-size: toRem(16);
	line-height: toRem(20);
	display: flex;
	align-items: center;
	cursor: pointer;
}
.color-picker-wrapper input[type="color"]:focus + .color-placeholder {
	border-color: #007bff;
}
.color-picker-wrapper input[type="color"].selected + .color-placeholder {
	background-color: transparent;
	color: transparent;
	background-image: none;
}
#colorPicker {
	padding: 0;
}
.icon-colour {
	position: absolute;
	top: toRem(-4);
	right: toRem(4);
	pointer-events: none;
}



/* Скрываем стандартный чекбокс */
.checkbox__input {
	display: none;
}

/* Стили для кастомного чекбокса */
.checkbox__label {
	display: inline-block;
	width: toRem(26);
	height: toRem(26);
	border: 1px solid #E3E5ED;
	border-radius: 4px;
	cursor: pointer;
	position: relative;
}

/* При выборе чекбокса - чёрный фон */
.checkbox__input:checked + .checkbox__label {
	background-color: #485D6B;
}

/* Стили для галочки (псевдоэлемент для отображения) */
.checkbox__input:checked + .checkbox__label::after {
	content: '';
	position: absolute;
	top: toRem(4);
	left: toRem(8);
	width: toRem(6);
	height: toRem(12);
	border: solid white;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}






.blue-button {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	font-size: toRem(16);
	text-align: center;
	color: #fff;
	border-radius: 4px;
	padding: toRem(15) toRem(40);
	background-color: #7715CD;
	width: fit-content;
	gap: toRem(8);
	cursor: pointer;

	@media (max-width:$mobile){
		padding: toRem(13) toRem(20);
		font-size: toRem(14); 
	}
}

.mt-20 {
	margin-top: toRem(20);
}
.mt-30 {
	margin-top: toRem(30);
}
.mb-20 {
	margin-bottom: toRem(20);
}
.mb-30 {
	margin-bottom: toRem(30);
}
.to-left {
	margin-right: auto;
}
.to-right {
	margin-left: auto;
}
.to-center {
	margin-left: auto;
	margin-right: auto;
}
@media (max-width:$mobile){
	.mob-to-center {
		margin-left: auto;
		margin-right: auto;
	}
}
.text-align-right {
	text-align: right;
}

.weight-600 {
	font-weight: 600 !important;
}
.weight-700 {
	font-weight: 700 !important;
}

//=======================================================================================================



.grey-line {
	width: 100%;
	height: 1px;
	background-color: #F7F7F7;
}

.nowrap {
	white-space: nowrap;
}

p {
   line-height: 160%;
	margin-bottom: toRem(6);

	@media (max-width:$mobile){
		font-size: toRem(13); 
	}
}
.blue-border {
	@media (min-width:$mobile){
		border-top: toRem(8) solid #7715CD; 
	}
}



//=======================================================================================================

.mobile-element {
	display: block !important;

	@media (min-width:$mobile){
		display: none !important;
	}
}
.pc-element {
	display: none !important;

	@media (min-width:$mobile){
		display: block !important; 
	}
}
.mobile-element-flex {
	display: flex !important;

	@media (min-width:$mobile){
		display: none !important;
	}
}
.pc-element-flex {
	display: none !important;

	@media (min-width:$mobile){
		display: flex !important; 
	}
}

.mobile-display-none {
	@media (max-width:$mobile){
		 display: none; 
	}
}




