.page {
	padding-top: toRem(83);
	padding-bottom: toRem(83);

	@media (max-width:$mobile){
		 padding-bottom: 0; 
	}
}

.main-title {
	// .main-title__container
	&__container {
		padding-top: toRem(33);
		padding-bottom: toRem(33);
		position: relative;

		@media (max-width:$tablet){
			padding-top: toRem(29);
			padding-bottom: toRem(29);
		}
		@media (max-width:$mobile){
			padding-top: toRem(25);
			padding-bottom: toRem(25); 
		}
		@media (max-width:$mobileSmall){
			padding-top: toRem(17);
			padding-bottom: toRem(17);
		}
	}
	// .main-title__title
	&__title {
		font-weight: 700;
		line-height: 100%;
		color: #485D6B;
		@include adaptiveValue("font-size", 26, 16);
	}

	.actions {
		display: none;

		@media (max-width:$mobile){
			position: absolute;
			top: toRem(25);
			right: toRem(25);
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 11px; 
			cursor: pointer;
		}

		@media (max-width:$mobileSmall){
			 top: toRem(17);
			 right: toRem(17); 
		}
	}
}


//=============================================== ELEMENTS OF FORM ========================================================

.select_form {
	position: relative;
	font-weight: 500 !important;
	font-size: toRem(13) !important;
	line-height: 141%;
	color: #485D6B !important;
	background-color: #fff;
}
.select-mini {
	.select_form {
		border: 1px solid #E3E5ED;
		border-radius: toRem(3);
		padding: toRem(7) toRem(10) 1px;
		height: toRem(42);

		@media (max-width:$mobile){
			height: toRem(38);
			padding: toRem(5) toRem(10) 1px;
		}
	}
	.select__title {
		width: calc(100% - toRem(13));
	}
	.select__options  {
		top: calc(100% + 1px);
		margin-left: toRem(-10);
		padding: toRem(8) toRem(13) toRem(4) toRem(18);
	}
}
.select__title {
	display: flex;
	align-items: center;
	gap: toRem(7);
	margin: toRem(4) toRem(4) toRem(8) toRem(8);
	width: 100%;
	
	&::after {
		content:'';
		display: block;
		width: toRem(13);
		height: toRem(7);
		background: url('@img/icon-select.svg') center center no-repeat;
	}
}
.select__value {
	width: 100%;
	text-align: left;
}
.select__options {
	font-weight: 500;
	font-size: toRem(13);
	background-color: #fff;
	box-shadow: -0 6px 16px 0 rgba(0, 0, 0, 0.05);
	padding: toRem(8) toRem(8) toRem(4);
	position: absolute;
	width: 100%;
	border-radius: 4px;

	@media (max-width:$tablet){
		font-size: toRem(13);
	}
	@media (max-width:$mobile){
		font-size: toRem(12); 
	}
	@media (max-width:$mobileSmall){
		font-size: toRem(11); 
	}
}
._select-open {
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.05);

}
._select-open .select__title {
	&::after {
		transform: rotate(-180deg);
	}
}
.select__option {
	font-weight: 500;
	white-space: nowrap;
	padding: toRem(11) 0 toRem(7);

	@media (max-width:$mobile){
		 padding: toRem(10) 0 toRem(7); 
	}
	@media (max-width:$mobileSmall){
		padding: toRem(9) 0 toRem(7);
	}
}
.select__scroll {
	width: min-content;
}

.select__content {
	font-family: "Montserrat" !important;
	font-weight: 500 !important;
	font-size: toRem(13) !important;
	line-height: 141%;
	color: #485D6B !important;
	letter-spacing: initial;
}

.form-row {
	display: flex;
	gap: toRem(25);

	@media (max-width:$mobile){
		flex-wrap: wrap; 
		gap: 0;
	}
	// .form-row__col
	&__col {
		flex: 0 1 50%;

		@media (max-width:$mobile){
			 flex: 1 1 100%; 
		}
	}
}
.form-row__label {
	font-weight: 600;
	font-size: toRem(14);
	line-height: 141%;
	margin-bottom: toRem(8);

	@media (max-width:$tablet){
		font-size: toRem(13);
	}
	@media (max-width:$mobile){
		padding-top: toRem(15);
		font-size: toRem(13);
	}
	@media (max-width:$mobileSmall){
		 font-size: toRem(12); 
	}
}
textarea {
	border: 1px solid #E3E5ED;
	border-radius: 4px;
	padding: toRem(11) toRem(17);
	font-weight: 500;
	outline: none;
}
input {
	border: 1px solid #E3E5ED;
	border-radius: 4px;
	padding: toRem(11) toRem(17);
	font-weight: 500;
	outline: none;
	height: toRem(42);

	@media (max-width:$mobile){
		height: toRem(38);
		padding: toRem(9) toRem(15);
	}
}
td input {
	padding: toRem(9) toRem(17);
}
textarea:focus, input:focus {
	border-color: #7715CD;
}




.color-picker-wrapper {
	position: relative;
	display: inline-block;
	width: 100%;
}

.color-picker-wrapper input[type="color"] {
	opacity: 0; 
	width: calc(100% + toRem(27));
	height: toRem(33);
	position: absolute;
	top: 0;
	left: toRem(-15);
	cursor: pointer;
}
.color-placeholder {
	display: inline-block;
	border-radius: 4px;
	width: toRem(83);
	height: toRem(19);
	font-size: toRem(13);
	line-height: toRem(17);
	display: flex;
	align-items: center;
	cursor: pointer;
}
.color-picker-wrapper input[type="color"]:focus + .color-placeholder {
	border-color: #007bff;
}
.color-picker-wrapper input[type="color"].selected + .color-placeholder {
	background-color: transparent;
	color: transparent;
	background-image: none;
}
#colorPicker {
	padding: 0;
}
.icon-colour {
	position: absolute;
	top: toRem(-5);
	right: toRem(2);
	pointer-events: none;
}



/* Скрываем стандартный чекбокс */
.checkbox__input {
	display: none;
}

/* Стили для кастомного чекбокса */
.checkbox__label {
	display: inline-block;
	width: toRem(22);
	height: toRem(22);
	border: 1px solid #E3E5ED;
	border-radius: 4px;
	cursor: pointer;
	position: relative;
}

/* При выборе чекбокса - чёрный фон */
.checkbox__input:checked + .checkbox__label {
	background-color: #485D6B;
}

/* Стили для галочки (псевдоэлемент для отображения) */
.checkbox__input:checked + .checkbox__label::after {
	content: '';
	position: absolute;
	top: toRem(3);
	left: toRem(7);
	width: toRem(5);
	height: toRem(10);
	border: solid white;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}




.blue-button {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	font-size: toRem(13);
	text-align: center;
	color: #fff;
	border-radius: 4px;
	padding: toRem(13) toRem(33);
	background-color: #7715CD;
	width: fit-content;
	gap: toRem(7);
	cursor: pointer;

	@media (max-width:$mobile){
		padding: toRem(11) toRem(17);
		font-size: toRem(12); 
	}
}

.mt-20 {
	margin-top: toRem(17);
}
.mt-30 {
	margin-top: toRem(25);
}
.mb-20 {
	margin-bottom: toRem(17);
}
.mb-30 {
	margin-bottom: toRem(25);
}
.to-left {
	margin-right: auto;
}
.to-right {
	margin-left: auto;
}
.to-center {
	margin-left: auto;
	margin-right: auto;
}
@media (max-width:$mobile){
	.mob-to-center {
		margin-left: auto;
		margin-right: auto;
	}
}
.text-align-right {
	text-align: right;
}

.weight-600 {
	font-weight: 600 !important;
}
.weight-700 {
	font-weight: 700 !important;
}

//=======================================================================================================

.grey-line {
	width: 100%;
	height: 1px;
	background-color: #F7F7F7;
}

.nowrap {
	white-space: nowrap;
}
.text-align-right {
	text-align: right !important;
}

p {
   line-height: 160%;
	margin-bottom: toRem(5);

	@media (max-width:$mobile){
		font-size: toRem(11); 
	}
}
.blue-border {
	@media (min-width:$mobile){
		border-top: toRem(7) solid #7715CD; 
	}
}

//=======================================================================================================

.mobile-element {
	display: block !important;

	@media (min-width:$mobile){
		display: none !important;
	}
}
.pc-element {
	display: none !important;

	@media (min-width:$mobile){
		display: block !important; 
	}
}
.mobile-element-flex {
	display: flex !important;

	@media (min-width:$mobile){
		display: none !important;
	}
}
.pc-element-flex {
	display: none !important;

	@media (min-width:$mobile){
		display: flex !important; 
	}
}

.mobile-display-none {
	@media (max-width:$mobile){
		 display: none; 
	}
}

.mobile-align-right {
	@media (max-width:$mobile){
		 text-align: right !important; 
	}
}

.logo-company {
	max-width: 185px;
	max-height: 106px;

	@media (max-width:$mobile){
		max-width: 150px;
		max-height: 85px; 
	}
	@media (max-width:$mobileSmall){
		max-width: 105px;
		max-height: 60px; 
	}
}
.mt-minus {
	margin-top: -9px !important;
}