.choice-of-currency {
}
.choice-of-currency__select {
	margin-bottom: toRem(18);
	.select__title {
		border: 1px solid #E3E5ED;
		border-radius: toRem(3);
		margin: 0;
		padding: toRem(10) toRem(17);
	}
	.select__options {
		padding: toRem(8) toRem(15) toRem(4);
	}
}

.choice-of-currency__label, .choice-of-colour__label {
	font-weight: 600;
	font-size: toRem(14);
	line-height: 141%;
	margin-bottom: toRem(8);
}

.choice-of-colour {
}
.choice-of-colour__select {
	border: 1px solid #E3E5ED;
	border-radius: toRem(3);
	margin: 0;
	padding: toRem(11) toRem(8) toRem(11) toRem(17);
	font-weight: 500;
	font-size: toRem(13);
	line-height: 160%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.table-create-invoice {
	tbody tr {
		position: relative;

		&::after {
			content:'';
			position: absolute;
			top: toRem(14);
			right: toRem(-17);
			display: block;
			width: toRem(17);
			height: toRem(17);
			background: url('@img/icon-close-in-circle.svg') center center / cover no-repeat;
			cursor: pointer;
		}
	}
	td {
		vertical-align: top;
	}
	textarea {
		max-height: toRem(75);
	}
}

.wrapper-scroll {
	overflow-x: auto;
   overflow-y: hidden;
	@media (max-width:$mobile){
		margin: 0 toRem(-10);
	}
}
@media (max-width:$mobile){
	.table-invoice {
		thead {
			font-size: toRem(11);
		}
		td, th {
			font-size: toRem(10);
			padding: toRem(10) toRem(7) !important;

			@media (max-width:$mobileSmall){
				padding: toRem(10) toRem(5) !important;
			}
		}

		td:first-child {
			padding-left: toRem(4);

			@media (max-width:$mobileSmall){
				padding-left: toRem(4) !important;
			}
		}
		td:last-child {
			padding-right: toRem(4);

			@media (max-width:$mobileSmall){
				padding-right: toRem(4) !important;
			}
		}
	}
}
.table-create-invoice.table-invoice {

	td:first-child {
		padding-left: toRem(10);
	}
	td:last-child {
		padding-right: toRem(10);
		text-align: right;
	}
}

.table-invoice tbody tr {
	&::after {
		content:'';
		display: none;
	}
}
.table-create-invoice th, .table-create-invoice td {
	text-align: left;
	padding: toRem(12) toRem(6);

	input {
		padding: toRem(9) toRem(11);
	}
	textarea {
		padding: toRem(11);
	}
}

.table-create-invoice.table-mobile {
	font-weight: 500;
	font-size: toRem(10);
	border-collapse: separate;
   border-spacing: 0 toRem(8);
	background-color: #F4F1FF;
	border: 1px solid #E3E5ED;
	border-radius: toRem(3);
	overflow: hidden;

	tbody tr {
		&::after {
			content:'';
			top: toRem(8);
			right: toRem(8);
			background: url('@img/icon-close-black.svg') center center / cover no-repeat;
		}
		&::before {
			content:'';
			position: absolute;
			display: block;
			height: toRem(20);
			width: toRem(20);
			bottom: toRem(8);
			right: toRem(8);
			background: url('@img/icon-edit.svg') center center / cover no-repeat;
			cursor: pointer;
		}

		td {
			padding: toRem(29) toRem(11);
		}
	}

	.table__date {
		font-weight: 700;
		text-align: left !important;
		font-size: toRem(10);
		justify-content: flex-start;
	}
	.table__description {
	}
	.table__amount {
		text-align: right;
	}
	.table__total {
		text-align: right;
	}
}

.summary {
		// .summary__content
		&__content {
			width: fit-content;
			margin-left: auto;
		}
		// .summary__row
		&__row {
			display: flex;
			gap: toRem(125);
			font-weight: 500;
			font-size: toRem(13);
			line-height: 160%;

			@media (max-width:$mobile){
				font-size: toRem(10);
				 gap: toRem(17); 
			}
		}
		// .summary__col
		&__col {
			flex: 0 1 50%;
			white-space: nowrap;
			padding: toRem(12);

			@media (max-width:$mobile){
				padding: toRem(8) toRem(12);
			}
			// .summary__col--right
			&--right {
				text-align: right;
			}
		}
}
.form-row {
		// .form-row__col
		&__col {}
}
.form-row-details {
	@media (max-width:$mobile){
		display: block;
	}
	.form-row__col {
		@media (max-width:$mobile){
			&:not(:last-child) {
				margin-bottom: toRem(25);
			}
		}
	}
}
.add-note {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: toRem(7);
	font-weight: 600;
	font-size: toRem(13);
	line-height: 160%;
	color: #7715CD;
	cursor: pointer;

	@media (max-width:$mobile){
		justify-content: flex-start;
		font-size: toRem(12);
	}
	@media (max-width:$mobileSmall){
		 font-size: toRem(11); 
	}
}

.created {
	margin-top: toRem(54);
	font-weight: 500;
	font-size: toRem(12);
	line-height: 171%;
	text-align: right;

	@media (max-width:$tablet){
		font-size: toRem(11);
		margin-top: toRem(46);
	}
	@media (max-width:$mobile){
		font-size: toRem(10);
		margin-top: toRem(38);
		text-align: center;
	}
	@media (max-width:$mobileSmall){
		margin-top: toRem(29);
		font-size: toRem(8); 
	}

	a {
		color: #7715CD;
	}
}

.create-invoice-buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: toRem(12);

	@media (max-width:$mobile){
		justify-content: center; 
	}

	.grey-button {
		background-color: #757575;
	}

	a {
		flex: 0 0 toRem(179) !important;

		@media (max-width:$tablet){
			margin-bottom: toRem(42);
		}

		@media (max-width:$mobileSmall){
			flex: 1 0 toRem(137) !important;
		}

		.blue-button, .grey-button {
			width: 100%;
		}
	}
}

.form-element-note {
	font-weight: 500;
	font-size: toRem(11);
	line-height: 185%;
	color: #757575;
}

//=========================================== INVOICE ============================================================
.top-line--invoice {
	@media (max-width:$mobile){
		gap: toRem(21);
	}

	.name {
		padding-top: toRem(3);
	}
}
.top-line--invoice .top-line__col {
	min-width: toRem(15);
	font-weight: 500;

	@media (max-width:$mobileSmall){
		min-width: toRem(100);
		flex: 0 1 47%;

		img {
			width: 100%;
		}
	}
}
.invoice-menu {
	margin-top:  toRem(-8);
	padding-bottom:  toRem(8);
	ul {
		li {
			padding: toRem(11) 0;
			border-bottom: 1px solid #F7F7F7;
			display: flex;
			align-items: center;
			gap: toRem(17);
			font-weight: 500;
			font-size: toRem(13);
			line-height: 160%;

			span, img {
				cursor: pointer;
			}
		}
	}
}
.invoice-info {
	font-size: toRem(13);
	line-height: 160%;
	font-weight: 500;
	white-space: nowrap;
	padding-top: toRem(13);

	@media (max-width:$mobile){
		font-size: toRem(11);
	}
	@media (max-width:$mobileSmall){
			font-size: toRem(9); 
	}

		// .invoice-info__row
		&__row {
			width: 100%;
			display: flex;
			gap: toRem(17);
		}
		// .invoice-info__col
		&__col {
			padding: toRem(3) 0;
			flex: 0 0 calc(50% - toRem(8));
		}
		bold {
			font-weight: 600;
		}
}
.invoice-row {
	width: 100%;
	display: flex;
	gap: toRem(25);

		// .invoice-row__col
		&__col {
			flex: 0 1 50%;
			font-weight: 500;
			font-size: toRem(13);
			line-height: 160%;

			@media (max-width:$mobile){
				font-size: toRem(11);
			}
			@media (max-width:$mobileSmall){
				 font-size: toRem(10); 
			}
		}
		// .invoice-row__label
		&__label {
			font-weight: 500;
			font-size: toRem(14);
			line-height: 141%;
			color: #757575;
			margin-top: toRem(21);
			margin-bottom: toRem(8);

			@media (max-width:$mobile){
				font-size: toRem(13);
			}
			@media (max-width:$mobileSmall){
				 font-size: toRem(12); 
			}
		}

		strong {
			font-weight: 700;
		}
}

.central-text {
	margin-top: toRem(17);
	margin-bottom: toRem(17);
	font-weight: 600;
	font-size: toRem(15);
	line-height: 133%;
	text-align: center;
	color:#757575;

	@media (max-width:$tablet){
		font-size: toRem(13);
	}
	@media (max-width:$mobile){
		 font-size: toRem(12); 
	}
	@media (max-width:$mobileSmall){
		 font-size: toRem(10); 
	}
}

.bg-gray {
	background-color: #F1F2F6;
}

.details__row {
	display: flex;
	padding-top: toRem(8);
	padding-bottom: toRem(8);

	@media (max-width:$mobile){
		font-size: toRem(11); 
	}

	@media (max-width:$mobileSmall){
		font-size: toRem(9); 
	}

	a {
		padding-bottom: toRem(10);
		font-weight: 600;
		color:#7715CD;

		@media (max-width:$mobile){
			 font-size: toRem(9); 
		}
	}
}

.details__col {
	flex: 0 0 38%;
	padding: 0 toRem(17) 0 0;

	@media (max-width:$mobile){
		font-size: toRem(11); 
	}
	@media (max-width:$mobileSmall){
		font-size: toRem(9); 
	}
}

.name {
	margin-bottom: toRem(13);
	font-size: toRem(13) !important;
	line-height: 120% !important;
}

.blue-button.new-row {
	font-weight: 600;
	font-size: toRem(12);
	padding: toRem(7) toRem(12);
	@media (max-width:$mobile){
		 width: 100%; 
	}
}

.new-row-wrapper {
}

.new-row {
		// .new-row__items-wrapper
		&__items-wrapper {
			padding: 0;
			overflow: hidden;
			margin-top: toRem(6);
			height: 0;
			position: absolute;
		}
		// .new-row__items
		&__items {
			background-color: #7715CD;
			box-shadow: 0 toRem(6) toRem(14) 0 rgba(0, 0, 0, 0.1);
			border-radius: toRem(3);
			width: toRem(179);
			padding: toRem(6) 0;
			opacity: 0.5;
			transform: translate(0, -100vh);
			transition: all 0.3s ease 0s; 
		}
		// .new-row__item
		&__item {
			width: 100%;
			height: toRem(42);
			display: flex;
			align-items: center;
			padding: toRem(4) toRem(12);
			font-weight: 500;
			font-size: toRem(13);
			line-height: 160%;
			color: #fff;
			cursor: pointer;

			&:not(:last-child) {
				border-bottom: 0.5px solid #F7F7F7;
			}
		}
}
.new-row-wrapper._open {
	.new-row__items {
		opacity: 1;
		transform: translate(0, 0);
	}
	.new-row__items-wrapper {
		height: auto;
	}
}

.TimePick_POPUP .second {
	display: none;
}

#cobwq_0 {
	opacity: 0;
	width: toRem(42);
	height: toRem(25);
	transform: translate(toRem(-21), 0);
}

.TimePick_POPUP {
	position: absolute;
	top: calc(100% + toRem(7)) !important;
	bottom: initial !important;
	left: initial !important;
	right: toRem(11) !important;
	margin: 0 !important;
}

.table-create-invoice td {
	min-width: toRem(75);

	@media (max-width:$mobileSmall){
		min-width: toRem(63);
	}
}

.table-create-invoice td:last-child {
	min-width: initial;
}

.table-create-invoice td.table-create-invoice-textarea {
	width: 40%;
	min-width: 40% !important;
}

.table-create-invoice td:first-child {
	padding-left: 0;
}

.table-create-invoice td:last-child {
	padding-right: 0;
}

.table-create-invoice td:nth-child(2) {
	min-width: toRem(96);
}

#vat-step-2 {
	display: none;

	input {
		margin-bottom: toRem(13);
	}
}

#vat-step-2._open {
	display: block;
}
.table.table-create-invoice.table-pc {
	th:first-child {
		padding: 0.75rem toRem(5) 0.75rem toRem(12);
	}
	td:first-child {
		padding: 0.75rem toRem(5) 0.75rem toRem(0);
	}
	th:last-child {
		padding: 0.75rem toRem(10) 0.75rem toRem(0);
	}
	td:last-child {
		padding: 0.75rem toRem(12) 0.75rem toRem(5);
		text-align: center;
	}
}
//============================================MOBILE===========================================================
.enter-details-button {
	border: 1px solid #E3E5ED;
	border-radius: toRem(3);
	width: 100%;
	height: toRem(38);
	display: flex;
	align-items: center;
	padding: toRem(4) toRem(33) toRem(4) toRem(17);
	font-weight: 500;
	font-size: toRem(10);
	color: #485D6B;
	background: url('@img/icon-enter-details.svg') center right toRem(17) no-repeat;
}

.mobile-text {
	display: none;

	@media (max-width:$mobile){
		 display: inline-block; 
	}
}

.title-link {
	font-weight: 700;
	font-size: toRem(14);
	line-height: 160%;
	color: #485D6B;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: toRem(8);
	cursor: pointer;
	margin-bottom: toRem(17);
	width: fit-content;

	img {
		transform: rotate(-180deg);
		margin-top:  toRem(-1);
	}
}

.vat-label {
	display: inline-block;
	font-weight: 600;
	font-size: toRem(10);
	color: #485D6B;
	margin-left: toRem(8);
	transform: translate(0, -15px);
}

.create-invoice__title-mobile {
	display: none;
	padding-top: toRem(4);
	padding-bottom: toRem(20);
	font-weight: 600;
	font-size: toRem(1);
	line-height: 171%;

	@media (max-width:$mobile){
		display: block; 
	}
}

.new-row-wrapper {
	@media (max-width:$mobile){
		margin-top: toRem(2);
	}
}

#all-actions {
	display: none;
	border-radius: toRem(3);
	background-color: #fff;
	cursor: initial;
	position: absolute;
	top: toRem(5);
	right: 0;
	width: toRem(292);
	max-width: toRem(292);
	box-shadow: 0 toRem(7) toRem(14) 0 rgba(0, 0, 0, 0.1);

	@media (max-width:$mobileSmall){
		width: calc(100vw - toRem(25));
		min-width: calc(100vw - toRem(25));
		max-width: calc(100vw - toRem(25));
	}

	.invoice-menu {
		margin-top: 0;
		padding-bottom: 0;
	}
}

#all-actions._open {
	display: block;
}

#all-actions .content-block {
	padding: toRem(26) toRem(26) toRem(20);
}
