.choice-of-currency {
}
.choice-of-currency__select {
	margin-bottom: 22px;
	.select__title {
		border: 1px solid #E3E5ED;
		border-radius: 4px;
		margin: 0;
		padding: 13px 20px;
	}
	.select__options {
		padding: 10px 18px 5px;
	}
	
}

.choice-of-currency__label, .choice-of-colour__label {
	font-weight: 600;
	font-size: 17px;
	line-height: 141%;
	margin-bottom: 10px;
}

.choice-of-colour {
}
.choice-of-colour__select {
	border: 1px solid #E3E5ED;
	border-radius: 4px;
	margin: 0;
	padding: 13px 10px 13px 20px;
	font-weight: 500;
	font-size: 15px;
	line-height: 160%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.table-create-invoice {
	tbody tr {
		position: relative;

		&::after {
			content:'';
			position: absolute;
			top: 17px;
			right: -20px;
			display: block;
			width: 20px;
			height: 20px;
			background: url('@img/icon-close-in-circle.svg') center center no-repeat;
			cursor: pointer;
		}
	}
	td {
		vertical-align: top;
	}
	textarea {
		max-height: 90px;
	}
}

.wrapper-scroll {
	overflow-x: auto;
   overflow-y: hidden;
	@media (max-width:$mobile){
		margin: 0 -12px;
	}
}
@media (max-width:$mobile){
	.table-invoice {
		thead {
			font-size: 10px;
		}
		td, th {
			font-size: 9px;
			padding: 12px 8px !important;
		}
	}
}

.table-invoice tbody tr {
	&::after {
		content:'';
		display: none;
	}
}
.table-create-invoice th, .table-create-invoice td {
	text-align: left;
	padding: 14px;
}

.table-create-invoice.table-mobile {
	font-weight: 500;
	font-size: 12px;

	border-collapse: separate;
   border-spacing: 0 10px;

	tbody tr {
		background-color: #F4F1FF;
		border: 1px solid #E3E5ED;
		border-radius: 4px;
		overflow: hidden;

		&::after {
			content:'';
			top: 10px;
			right: 10px;
			background: url('@img/icon-close-black.svg') 0 0 no-repeat;
		}
		&::before {
			content:'';
			position: absolute;
			display: block;
			height: 24px;
			width: 24px;
			bottom: 10px;
			right: 10px;
			background: url('@img/icon-edit.svg') 0 0 no-repeat;
			cursor: pointer;
		}

		td {
			padding-top: 35px;
			padding-bottom: 35px;
		}
	}

	.table__date {
		font-weight: 700;
		text-align: left !important;
		font-size: 12px;
		justify-content: flex-start;
	}
	.table__description {
	}
	.table__amount {
		text-align: right;
	}
	.table__total {
		text-align: right;
	}

}


.summary {
		// .summary__content
		&__content {
			width: fit-content;
			margin-left: auto
		}
		// .summary__row
		&__row {
			display: flex;
			gap: 150px;
			font-weight: 500;
			font-size: 15px;
			line-height: 160%;



			@media (max-width:$mobile){
				font-size: 12px;
				 gap: 20px; 
			}
		}
		// .summary__col
		&__col {
			flex: 0 1 50%;
			white-space: nowrap;
			padding: 14px;

			@media (max-width:$mobile){
				padding: 10px 14px;
			}
			// .summary__col--right
			&--right {
				text-align: right;
			}
		}
}


.form-row {
		// .form-row__col
		&__col {}
}
.form-row-details {
	@media (max-width:$mobile){
		display: block;
	}
	.form-row__col {
		@media (max-width:$mobile){
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
	}
}
.add-note {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	font-weight: 600;
	font-size: 15px;
	line-height: 160%;
	color: #7715CD;
	cursor: pointer;

	@media (max-width:$mobile){
		justify-content: flex-start;
	}
}

.created {
	margin-top: 65px;
	font-weight: 500;
	font-size: 14px;
	line-height: 171%;
	text-align: right;

	@media (max-width:$mobile){
		 text-align: center; 
	}

	a {
		color: #7715CD;
	}
}



.create-invoice-buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;

	.grey-button {
		background-color: #757575;
	}

	.blue-button, .grey-button {
		flex: 0 1 215px;

		@media (max-width:$tablet){
			margin-bottom: 50px;
		}

		@media (max-width:$mobileSmall){
			flex: 0 1 165px;
		}
	}
}





//=========================================== INVOICE ============================================================
.top-line--invoice {
	@media (max-width:$mobile){
		gap: 25px;
	}
}
.top-line--invoice .top-line__col {
	min-width: 185px;
	@media (max-width:$mobileSmall){
		min-width: 120px;
		flex: 0 1 47%;

		img {
			width: 100%;
		}
	}

	
}
.invoice-menu {
	ul {
		li {
			padding: 13px 0;
			border-bottom: 1px solid #F7F7F7;
			display: flex;
			align-items: center;
			gap: 20px;
			font-weight: 500;
			font-size: 15px;
			line-height: 160%;

			span, img {
				cursor: pointer
			}
		}
	}
}


.invoice-info {
	font-size: 15px;
	line-height: 160%;
	font-weight: 500;
	white-space: nowrap;
	padding-top: 15px;

	@media (max-width:$mobile){
		font-size: 13px;
	}
	@media (max-width:$mobileSmall){
			font-size: 12px; 
	}

		// .invoice-info__row
		&__row {
			width: 100%;
			display: flex;
			gap: 20px;
		}
		// .invoice-info__col
		&__col {
			padding: 4px 0;
			flex: 0 0 calc(50% - 10px);
		}
		bold {
			font-weight: 600;
		}
}

.invoice-row {
	width: 100%;
	display: flex;
	gap: 30px;

		// .invoice-row__col
		&__col {
			flex: 0 1 50%;
			font-weight: 500;
			font-size: 15px;
			line-height: 160%;

			@media (max-width:$mobile){
				font-size: 13px;
			}
			@media (max-width:$mobileSmall){
				 font-size: 12px; 
			}
		}
		// .invoice-row__label
		&__label {
			font-weight: 500;
			font-size: 17px;
			line-height: 141%;
			color: #757575;
			margin-top: 25px;
			margin-bottom: 10px;

			@media (max-width:$mobile){
				font-size: 15px;
			}
			@media (max-width:$mobileSmall){
				 font-size: 14px; 
			}
		}

		
		strong {
			font-weight: 700;
		}
}

.central-text {
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: 600;
	font-size: 18px;
	line-height: 133%;
	text-align: center;
	color:#757575;

	@media (max-width:$tablet){
		font-size: 16px;
	}
	@media (max-width:$mobile){
		 font-size: 14px; 
	}
	@media (max-width:$mobileSmall){
		 font-size: 12px; 
	}
}
.bg-gray {
	background-color: #F1F2F6;
}


.details__row {
	display: flex;
	padding-top: 10px;
	padding-bottom: 10px;

	a {
		padding-bottom: 12px;
		font-weight: 600;
		color:#7715CD;

		@media (max-width:$mobile){
			 font-size: 11px; 
		}
	}
}
.details__col {
	flex: 0 1 40%;
	padding: 0 20px 0 0;
}
.name {
	margin-bottom: 16px;
	font-size: 15px !important;
	line-height: 120% !important;
}