.header {
	padding-top: toRem(12);
	padding-bottom: toRem(12);
	position: fixed;
	width: 100%;
	min-height: toRem(83);
	max-height: toRem(83);
	display: flex;
	align-items: center;
	z-index: 5;

	@media (max-width:$mobileSmall){
		height: toRem(75);
		min-height: toRem(75);
		max-height: toRem(75);
	}

	// .header__container
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: toRem(33);
		@media (max-width:$mobile){
			gap: toRem(29);
			box-sizing: border-box;
			margin-left: 15px;
			margin-right: 15px;
			max-width: calc(100vw - 30px) !important;
			padding: 0;
		}
		@media (max-width:$mobileSmall){
			gap: toRem(25);
		}
	}
	// .header__logo
	&__logo {
		display: block;
		width: toRem(96);
		height: toRem(58);

		@media (max-width:$tablet){
			margin-left: toRem(42);
		}

		@media (max-width:$mobile){
			width: toRem(82);
			height: toRem(48);
		}

		@media (max-width:$mobileSmall){
			width: toRem(65);
			height: toRem(38);
		}

		img {
			width: 100%;
		}
	}
}
.bg-dark {
	background-color: #29353D !important;
}
.menu-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: toRem(33);

	// .menu-header__icon
	&__icon {}
	// .menu-header__body
	&__body {}
	// .menu-header__right-col
	&__right-col {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: toRem(33);
		position: relative;

		@media (max-width:$mobile){
			gap: toRem(25);
		}
		@media (max-width:$mobileSmall){
			gap: toRem(17);
		}
	}
}

.nav-item {
	padding: 0 toRem(13);
	border-radius: toRem(5);
	font-weight: 400;
	font-size: toRem(15);
	line-height: 133%;
	text-align: center;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

	@media (max-width:$tablet){
		font-size: toRem(14);
		justify-content: flex-start;
		padding: 2px 0;
	}
	@media (max-width:$mobile){
		font-size: toRem(13);
	}
	@media (max-width:$mobileSmall){
		font-size: toRem(12);
	}

	.nav-link {
		@media (max-width:$tablet){
			display: flex;
			align-items: center;
		}
	}

	img {
		display: none;

		@media (max-width:$tablet){
			display: block;
		}
	}

	// .nav-item__more-links
	&__more-links {
		cursor: pointer;
	}
}
.nav-item.dropdown .nav-link.dropdown-toggle {
	@media (max-width:$tablet){
		display: none !important;
	}
}
.offcanvas .dropdown-menu {
	min-width: toRem(263) !important;
	border-radius: toRem(4) !important;
	inset: 0px auto auto -35px !important;
	padding: 15px;

	@media (max-width:$tablet){
		position: relative !important;
		transform: initial !important;
		inset: initial !important;
		display: block;
		padding: 0;
		border: initial !important;
		box-shadow: initial !important;
	}

	li {
		&:not(:last-child) {
			@media (min-width:$tablet){
				.dropdown-item {
					border-bottom: 0.5px solid #F7F7F7;
				}
			}
		}

		@media (max-width:$tablet){
			padding: 5px 0;
		}
	}

	.dropdown-item {
		padding-left: toRem(16);
		padding-right: toRem(16);

		@media (max-width:$tablet){
			padding: 5px 0;
			font-size: toRem(14);
		}
		@media (max-width:$mobile){
			font-size: toRem(13);
		}
		@media (max-width:$mobileSmall){
			font-size: toRem(12);
		}
	}

	.dropdown-item.dropdown-item-support {
		@media (max-width:$tablet){
			padding-top: 15px;
			border-top: 0.5px solid #F7F7F7;
		}
	}

	a {
		display: flex;
		align-items: center;
		white-space: nowrap;
		width: 100%;
		padding: 0 5px;

		@media (min-width:$tablet){
			padding: toRem(11) toRem(15);
		}
	}
	img {
		display: block;
	}
}
.dropdown-menu-dark {
	background-color: #29353d !important;
}
.current-nav-item {
	font-weight: 500;
	
	@media (min-width:$tablet){
		background-color: #485D6B;
	}
}

.notifications {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: relative;

	img {
		margin-top: toRem(14);

		@media (max-width:$mobileSmall){
			margin-top: toRem(12);
		}
	}

	span {
		margin-bottom: toRem(15);
		margin-left: toRem(-5);
		width: fit-content;
		min-width: toRem(22);
		height: toRem(22);
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		background-color: #7715CD;
		padding: toRem(3);
		font-weight: 400;
		font-size: toRem(15);
		line-height: 133%;
		text-align: center;
		border-radius: 50%;
		color: #fff;
	}
}

.profile-menu {
	display: none;
	border-radius: toRem(3);
	padding: toRem(17);
	background-color: #fff;
	cursor: initial;
	position: absolute;
	top: calc(100% + toRem(8));
	right: 0px;
	width: toRem(208);
	max-width: toRem(208);
	min-width: toRem(208);
	box-shadow: 0 toRem(7) toRem(13) 0 rgba(0, 0, 0, 0.1);

	@media (max-width:$mobileSmall){
		width: calc(100vw - toRem(30));
		min-width: calc(100vw - toRem(30));
		max-width: calc(100vw - toRem(30));
		right: 0;
	}

	// .profile-menu__name
	&__name {
		font-weight: 600;
		font-size: toRem(12);
		padding: toRem(8) toRem(12);
		line-height: 171%;
		color: #485D6B;
	}
	ul {
		li {
			padding: toRem(8) toRem(12);
			font-weight: 500;
			line-height: 185%;
			color: #485D6B;
			display: flex;
			align-items: center;

			&:not(:last-child) {
				border-bottom: 1px solid #F7F7F7;
			}

			a.button {
				display: flex;
				align-items: center;
			}

			img {
				margin-right: toRem(10);
			}
		}
	}
}
.profile-menu._open {
	display: block;
}

.upgrade-to-pro {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: toRem(3);
	margin: 0 0 toRem(8);
	padding: toRem(8) toRem(12);
	background-color: #485D6B;
	color: #fff;
	font-weight: 500;
	font-size: toRem(12);
	word-spacing: toRem(7);

	// .upgrade-to-pro__button
	&__button {
		border-radius: toRem(3);
		width: toRem(55);
		height: toRem(30);
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 500;
		font-size: toRem(12);
		text-align: center;
		background-color: #fff;
		color: #485D6B;
		cursor: pointer;
	}
}

.all-notifications {
	display: none;
	border-radius: toRem(3);
	padding: toRem(17) 0;
	background-color: #fff;
	cursor: initial;
	position: absolute;
	top: calc(100% + toRem(8));
	right: toRem(67);
	width: toRem(308);
	max-width: toRem(308);
	min-width: toRem(308);
	box-shadow: 0 toRem(7) toRem(13) 0 rgba(0, 0, 0, 0.1);

	@media (max-width:$mobileSmall){
		width: calc(100vw - toRem(30));
		min-width: calc(100vw - toRem(30));
		max-width: calc(100vw - toRem(30));
		right: 0;
	}

	// .all-notifications__header
	&__header {
		display: flex;
		justify-content: space-between;
		gap: toRem(25);
		align-items: center;
		padding-bottom: toRem(8);
		padding-left: toRem(17);
		padding-right: toRem(17);
	}
	// .all-notifications__title
	&__title {
		font-weight: 600;
		font-size: toRem(14);
		line-height: 141%;
		padding-bottom: 3px;
	}
	// .all-notifications__mark-as-read
	&__mark-as-read {
		font-weight: 500;
		font-size: toRem(12);
		line-height: 171%;
		white-space: nowrap;
		color: #7715CD;
		cursor: pointer;
	}

	ul {
		width: 100%;

		@media (max-width:$mobileSmall){
			min-width: toRem(233);
		}

		li {
			display: flex;
			align-items: flex-start;
			gap: toRem(12);
			cursor: pointer;
			padding: toRem(8) toRem(17);

			img {
				margin-top: toRem(4);
			}
		}
		li:nth-child(even) {
			background-color: #F7F7F7;
		}
	}
	// .all-notifications__item-content
	&__item-content {}
	// .all-notifications__text
	&__text {
		padding-top: toRem(3);
		font-weight: 500;
		font-size: toRem(12);
		line-height: 171%;
		color: #485D6B;
	}
	// .all-notifications__date
	&__date {
		font-weight: 400;
		font-size: toRem(10);
		line-height: 200%;
		color: #485D6B;
	}
}
.all-notifications._open {
	display: block;
}

.user-button {
	overflow: hidden;
	border-radius: 50%;
	width: toRem(40);
	height: toRem(40);
	position: relative;
	border: 1px solid #fff;
	cursor: pointer;

	img {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

@media (min-width:$tablet){
	.more-nav-items {
		position: absolute;
		top: 100%;
		left: toRem(-61);
		background-color: #29353D;
		padding: toRem(8);
		height: toRem(17);
		overflow: hidden;

		.nav-item {
			justify-content: flex-start;
			align-items: flex-start;
			text-align: left;
			margin-top: -20vh;
			opacity: 0;
			transition: all 0.3s linear 0s; 

			a {
				opacity: 0;
				transition: opacity 0.1s linear 0s; 
			}
		}
	}
	.nav-item._open .more-nav-items {
		height: initial;
	}
	.nav-item._open .more-nav-items .nav-item {
		opacity: 1;
		margin-top: 0vh;

		a {
			opacity: 1;
		}
	}
}
.navbar-toggler .navbar-toggler-icon {
   background: url('@img/menu-button.svg') 0 0 no-repeat;
}
#navbarMenu {
	@media (max-width:$tablet){
		background-color: #29353D;
	}
}

@media (min-width:$tablet){
	.offcanvas {
		position: relative;
		visibility: visible;
		transition: initial !important;
		overflow: initial !important;
		border: initial !important;
		z-index: 1 !important;

		.offcanvas-header {
			display: none;
		}
		.offcanvas-body {
			overflow: initial !important;
		}

		.navbar-nav {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}
	}
	.offcanvas.offcanvas-start {
		position: relative;
		transform: translate(0, 0);
		top: initial;
		left: initial;
		width: 100%;
	}
	
}
