//========================================================HOME===============================================

.content__blocks {
	display: flex;
	gap: toRem(30);
	width: 100%;

	@media (max-width: 993px){
		display: block;
	}
}

.content {
	display: flex;
	gap: toRem(30);

		// .content__col
		&__col {
			display: flex;
			flex-direction: column;
			gap: toRem(30);

			@media (max-width: 1300px){
				gap: toRem(24);
			}

			@media (max-width: 993px){
				display: block;
			}

			// .content__col--wide
			&--wide {
				flex: 1 1 100%;
			}
			// .content__col--narrow
			&--narrow {
				flex: 0 0 toRem(320);
			}
		}
}

.content-block {
	padding: toRem(40) toRem(30) toRem(30);
	background-color: #fff;
	border-radius: toRem(4);

	@media (max-width: 1300px){
		padding: toRem(30) toRem(30) toRem(20);
	}
	@media (max-width: 993px){
		margin-bottom: toRem(24);
	}
	@media (max-width:$mobile){
		padding: toRem(25) toRem(20) toRem(20);
	}
	@media (max-width:$mobileSmall){
		padding: toRem(20) toRem(12);
	}
}

.top-line {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.top-line__title {
	font-weight: 700;
	line-height: 100%;
	color:#485D6B;
	@include adaptiveValue("font-size", 24, 16);
	@media (max-width:$mobile){
		 margin-top: toRem(5); 
	}
}
.top-line__select {
	margin-left: toRem(30);
	margin-right: auto;
	
	.select_form {
		border: 1px solid #E3E5ED;
		border-radius: toRem(4);
	}
	.select__title {
		margin: toRem(5) toRem(10) toRem(5) toRem(10);
	}
}
.top-line__amount {
	font-weight: 600;
	text-align: right;
	@include adaptiveValue("font-size", 24, 16);
}


.button-create-invoice {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #7715CD;
	gap: 8px;
	border-radius: 4px;
	padding: toRem(18) toRem(25);

	img {
		display: block;
		width: toRem(24);
		height: toRem(24);
	}

	span {
		font-weight: 600;
		font-size: toRem(14);
		line-height: 171%;
		color: #fff;
	}
}

.content-block-1 {

	// .content-block-1__row
		&__row {
			display: flex;
			gap: toRem(30);

			@media (max-width: 1300px){
				flex-direction: column;
			}
		}

		// .content-block-1__col
		&__col {
			// .content-block-1__col--left
			&--left {
				flex: 0 1 33%;
				img {
					width: 100%;
				}
			}
			// .content-block-1__col--right
			&--right {
				flex: 0 1 66%;
			}
		}


	@media (max-width:$mobile){
		.top-line {
			flex-direction: column; 
		}
		.button-create-invoice {
			order: 1; 
			margin-bottom: toRem(20);
			margin-left: auto;
			font-size: toRem(14);
			gap: toRem(6);
			padding: toRem(7) toRem(12);
		}

		.top-line__title {
			order: 2;
			margin-bottom: toRem(30);
		}

		.statistic__col {
			font-size: toRem(14);
		}
		.total {
			font-size: toRem(16);
		}
	}

	@media (max-width:$mobileSmall){
		.button-create-invoice {
			font-size: toRem(12);
		}
	}
	
}

.statistic {
	margin-top: 50px;
		// .statistic__row
		&__row {
			display: flex;
			gap: toRem(20);
			&:not(:last-child) {
				margin-bottom: toRem(24);
			}

			@media (max-width:$mobile){
				 gap: toRem(10); 
			}
		}
		// .statistic__col
		&__col {
			flex: 0 1 55%;
			display: flex;
			align-items: center;
			gap: toRem(18);
			font-weight: 500;
			font-size: toRem(17);
			line-height: 141%;

			// .statistic__col--right
			&--right {
				flex: 0 1 45%;
				justify-content: flex-end;
			}
		}
}

.item-1__color, .item-2__color, .item-3__color, .item-4__color {
	width: toRem(19);
	flex: 0 0 toRem(19);
	height: toRem(19);
	border-radius: 50%;
}

.item-1__color {
	background: #15a1cd;
}
.item-2__color {
	background: #156acd;
}
.item-3__color {
	background: #15cdac;
}
.item-4__color {
	background-color: #7715CD;
}

.total {
	padding-top: toRem(6);
	font-weight: 600;
	font-size: toRem(20);
	line-height: 120%;
}

.content-block-2 {
		// .content-block-2__title
		&__title {
			font-weight: 700;
			line-height: 100%;
			text-align: center;
			margin-bottom: toRem(30);
			color: #485D6B;
			@include adaptiveValue("font-size", 24, 16);
		}
		// .content-block-2__subtitle
		&__subtitle {
			font-weight: 600;
			line-height: 100%;
			text-align: center;
			margin-bottom: toRem(30);
			color: #485D6B;
			@include adaptiveValue("font-size", 24, 20);
		}
		&__diagram {
			img {
				width: 100%;
			}
		}
		// .content-block-2__bottom-row
		&__bottom-row {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin: 0 toRem(-20) 0 0;
			width: calc(100% + toRem(20));

			.select_form {
				padding: 0 toRem(25) 0 0;
			}

			.select__content {
				white-space: nowrap;
			}
		}
		// .content-block-2__col
		&__col {
			flex: 0 1 50%;
		}
}
.content-block-2__col--right {
	display: flex;
	justify-content: flex-end;
}
.set-target {
	display: block;
	padding: 0 0 toRem(5);
	font-size: toRem(18);
	font-weight: 500;
	cursor: pointer;
	@media (max-width:$tablet){
		font-size: toRem(17);
	}
	@media (max-width:$mobile){
		font-size: toRem(16); 
	}
	@media (max-width:$mobileSmall){
		font-size: toRem(15); 
	}
}


.content-block-3 {
	.top-line {
		padding-bottom: toRem(30);
		border-bottom: 1px solid #E3E5ED;
		margin-bottom: toRem(30);

		@media (max-width:$mobileSmall){
			border-bottom: initial;
			margin-bottom: 0;
		}
	}
		// .content-block-3__bottom-row
		&__bottom-row {
			padding-top: toRem(15);
			display: flex;
			justify-content: flex-end;
		}

	@media (max-width:$mobile){
		 .select__option {
					font-size: toRem(15);
				} 
	}

	@media (max-width:$mobileSmall){
		 .top-line {
			flex-wrap: wrap;

			.top-line__select {
				margin-left: auto;
				margin-right: 0;

				.select__option {
					font-size: toRem(15);
				}
			}

			.top-line__amount {
				flex: 0 0 100%;
				padding-top: toRem(20);
			}
		 } 
	}
}
.view-all {
	font-weight: 500;
	font-size: toRem(15);
	line-height: 160%;
	color: #485D6B;
	@media (max-width:$mobileSmall){
		 padding: 0 toRem(10) 0 0; 
	}
}

.content-block-4 {
		// .content-block-4__title
		&__title {
			font-weight: 700;
			line-height: 100%;
			text-align: center;
			margin-bottom: 30px;
			color: #485D6B;
			padding-bottom: toRem(30);
			border-bottom: 1px solid #F7F7F7;
			@include adaptiveValue("font-size", 24, 16);
		}
	.content-block-4__bottom-row {
		display: flex;
		justify-content: flex-end;
		margin: 0 toRem(-20) 0 0;
		width: calc(100% + toRem(20));

		.select_form {
			padding: 0 toRem(25) 0 0;
		}

		.select__content {
			white-space: nowrap;
		}
	}
}
.five-clients {
	margin-bottom: toRem(15);

		// .five-clients__client
		&__client {
			display: flex;
			align-items: center;
			gap: toRem(14);

			&:not(:last-child) {
				margin-bottom: toRem(60);
				@media (max-width:$tablet){
					margin-bottom: toRem(40);
				}
				@media (max-width:$mobile){
					 margin-bottom: toRem(24); 
				}
			}
			// .five-clients__client--1
			&--1 {
				.client-circle {
					background-color: #F8D3E0;
					color: #c36281;
				}
			}
			// .five-clients__client--2
			&--2 {
				.client-circle {
					background-color: #D3D7F8;
					color: #6266c3;
				}
			}
			// .five-clients__client--3
			&--3 {
				.client-circle {
					background-color: #D3F1F8;
					color: #62a0c3;
				}
			}
			// .five-clients__client--4
			&--4 {
				.client-circle {
					background-color: #F8E5D3;
					color: #c37962;
				}
			}
			// .five-clients__client--5
			&--5 {
				.client-circle {
					background-color: #E8D3F8;
					color: #bb62c3;
				}
			}
		}
}
.client-circle {
	display: flex;
	justify-content: center;
	align-items: center;
	width: toRem(45);
	height: toRem(45);
	border-radius: 50%;
	font-weight: 600;
	font-size: toRem(15);
	text-align: center;
	
}
.client-name {
	font-weight: 500;
	font-size: toRem(15);
	line-height: 160%;
	color: #757575;
}



#diagram1 {
	background: conic-gradient(
		#15a1cd 25%, 
		#156acd 25% 50%, 
		#15cdac 50% 75%, 
		#7715CD 75%
	);
	border-radius: 50%;
	width: toRem(260);
	height: toRem(260);
}
.diagram1 {
	position: relative;
	margin: 0 auto;
	// .diagram1__center-area
	&__center-area {
		position: absolute;
		top: toRem(33);
		left: toRem(33);
		width: toRem(194);
		height: toRem(194);
		background-color: #fff;
		border-radius: 50%;
		z-index: 2;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	// .diagram1__number
	&__number {
		font-weight: 600;
		font-size: toRem(38);
		margin-bottom: toRem(3);
	}
	// .diagram1__text
	&__text {
		font-weight: 600;
		font-size: toRem(22);	
		color:#757575;
	}
}

#diagram2 {
	border-radius: 50%;
	width: toRem(260);
	height: toRem(260);
}

.diagram2 {
	position: relative;
	transform: rotate(-90deg);

		// .diagram2__center-area
		&__center-area {
			position: absolute;
			top: toRem(33);
			left: toRem(33);
			width: toRem(194);
			height: toRem(194);
			background-color: #fff;
			border-radius: 50%;
			z-index: 2;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}
		// .diagram2__number
		&__number {
			position: relative;
			font-weight: 600;
			font-size: toRem(40);
			text-align: center;
			width: toRem(143);
			height: toRem(143);
			border-radius: 50%;
			background-color: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.1);
			z-index: 3;
			margin: toRem(-70) auto toRem(30);
			@media (max-width:$mobileSmall){
				font-size: toRem(30); 
			}
		}
}
.diagram2-wrapper {
	width: toRem(260);
	height: toRem(130);
	overflow: hidden;
	margin: 0 auto;
}




//=============================================TABLE==========================================================
.table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;

	thead {
		background-color: #F1F2F6;
		font-weight: 600;
		font-size: toRem(15);
		line-height: 160%;
	}

	th, td {
		text-align: left;
		padding: toRem(14) toRem(14) toRem(14) 7%;

		@media (max-width:$mobile){
			padding: toRem(12) toRem(8) toRem(12) 4%;
		}
	}
	td {
		font-weight: 500;
		font-size: toRem(15);
		line-height: 160%;
	}
	tbody tr {
		border-top: 1px solid #F1F2F6;
	}
}

.table-pc {
	display: table;
	@media (max-width:$mobile){
		display: none; 
	}
}

.table-mobile {
	display: none;
}

@media (max-width:$mobile){
	.table-mobile {
		display: table;
	}
	.table-mobile td {
		font-size: toRem(13);
	}
	.table__client {
		font-weight: 600;
	}
	.table__date {
		text-align: right !important;
		display: flex;
		align-items: flex-start;
		justify-content: flex-end;
	}
}
//=======================================================================================================

.content-block-3 .select-mini {
	margin-top: toRem(-6);

	.select_form {
		padding: toRem(1) toRem(12);
	}
}