//========================================================HOME===============================================

.content__blocks {
	display: flex;
	gap: 30px;
	width: 100%;

	@media (max-width: 993px){
		display: block;
	}
}

.content {
	display: flex;
	gap: 30px;

		// .content__col
		&__col {
			display: flex;
			flex-direction: column;
			gap: 30px;

			@media (max-width: 1300px){
				gap: 24px;
			}

			@media (max-width: 993px){
				display: block;
			}

			// .content__col--wide
			&--wide {
				flex: 1 1 100%;
			}
			// .content__col--narrow
			&--narrow {
				flex: 0 0 380px;

				@media (max-width:$pc){
					flex: 0 0 350px;
				}
				@media (max-width: 1300px){
					flex: 0 0 320px;
				}
			}
		}
}

.content-block {
	padding: 40px 40px 30px;
	background-color: #fff;

	@media (max-width: 1300px){
		padding: 30px 30px 20px;
	}
	@media (max-width: 993px){
		margin-bottom: 24px;
	}
	@media (max-width:$mobile){
		padding: 25px 20px 20px;
	}
	@media (max-width:$mobileSmall){
		padding: 20px 12px;
	}
}

.top-line {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.top-line__title {
	font-weight: 700;
	line-height: 100%;
	color:#485D6B;
	@include adaptiveValue("font-size", 24, 16);
}
.top-line__select {
	margin-left: 30px;
	margin-right: auto;
	
	.select_form {
		border: 1px solid #E3E5ED;
		border-radius: 4px;
	}
	.select__title {
		margin: 5px 10px 5px 10px;
	}
}
.top-line__amount {
	font-weight: 600;
	text-align: right;
	@include adaptiveValue("font-size", 24, 16);
}


.button-create-invoice {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #7715CD;
	gap: 8px;
	border-radius: 4px;
	padding: 18px 25px;

	img {
		display: block;
		width: 24px;
		height: 24px;
	}

	span {
		font-weight: 600;
		font-size: 14px;
		line-height: 171%;
		color: #fff;
	}
}

.content-block-1 {

	// .content-block-1__row
		&__row {
			display: flex;
			gap: 30px;

			@media (max-width: 1300px){
				flex-direction: column;
			}
		}

		// .content-block-1__col
		&__col {
			// .content-block-1__col--left
			&--left {
				flex: 0 1 33%;
				img {
					width: 100%;
				}
			}
			// .content-block-1__col--right
			&--right {
				flex: 0 1 66%;
			}
		}


	@media (max-width:$mobile){
		.top-line {
			flex-direction: column; 
		}
		.button-create-invoice {
			order: 1; 
			margin-bottom: 20px;
			margin-left: auto;
			font-size: 14px;
			gap: 6px;
			padding: 7px 12px;
		}

		.top-line__title {
			order: 2;
			margin-bottom: 30px;
		}

		.statistic__col {
			font-size: 14px;
		}
		.total {
			font-size: 16px;
		}
	}

	@media (max-width:$mobileSmall){
		.button-create-invoice {
			font-size: 12px;
		}
	}
	
}

.statistic {
	margin-top: 50px;
		// .statistic__row
		&__row {
			display: flex;
			gap: 20px;
			&:not(:last-child) {
				margin-bottom: 24px;
			}
		}
		// .statistic__col
		&__col {
			flex: 0 1 50%;
			display: flex;
			align-items: center;
			gap: 18px;
			font-weight: 500;
			font-size: 17px;
			line-height: 141%;

			// .statistic__col--right
			&--right {
				justify-content: flex-end;
			}
		}
}

.item-1__color, .item-2__color, .item-3__color, .item-4__color {
	width: 19px;
	height: 19px;
	border-radius: 50%;
}

.item-1__color {
	background: #15a1cd;
}
.item-2__color {
	background: #156acd;
}
.item-3__color {
	background: #15cdac;
}
.item-4__color {
	background-color: #7715CD;
}

.total {
	padding-top: 6px;
	font-weight: 600;
	font-size: 20px;
	line-height: 120%;
}

.content-block-2 {
		// .content-block-2__title
		&__title {
			font-weight: 700;
			line-height: 100%;
			text-align: center;
			margin-bottom: 30px;
			color: #485D6B;
			@include adaptiveValue("font-size", 24, 16);
		}
		// .content-block-2__subtitle
		&__subtitle {
			font-weight: 600;
			line-height: 100%;
			text-align: center;
			margin-bottom: 30px;
			color: #485D6B;
			@include adaptiveValue("font-size", 24, 20);
		}
		&__diagram {
			img {
				width: 100%;
			}
		}
		// .content-block-2__bottom-row
		&__bottom-row {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		// .content-block-2__col
		&__col {
			flex: 0 1 50%;
		}
}
.content-block-2__col--right {
	display: flex;
	justify-content: flex-end;
}
.set-target {
	display: block;
	padding: 0 0 5px;
	font-size: 18px;
	font-weight: 500;
	@media (max-width:$tablet){
		font-size: 17px;
	}
	@media (max-width:$mobile){
		font-size: 16px; 
	}
	@media (max-width:$mobileSmall){
		font-size: 15px; 
	}
}


.content-block-3 {
	.top-line {
		padding-bottom: 30px;
		border-bottom: 1px solid #E3E5ED;
		margin-bottom: 30px;

		@media (max-width:$mobileSmall){
			border-bottom: initial;
			margin-bottom: 0;
		}
	}
		// .content-block-3__bottom-row
		&__bottom-row {
			padding-top: 15px;
			display: flex;
			justify-content: flex-end;
		}

	@media (max-width:$mobile){
		 .select__option {
					font-size: 15px;
				} 
	}

	@media (max-width:$mobileSmall){
		 .top-line {
			flex-wrap: wrap;

			.top-line__select {
				margin-left: auto;
				margin-right: 0;

				.select__option {
					font-size: 15px;
				}
			}

			.top-line__amount {
				flex: 0 0 100%;
				padding-top: 20px;
			}
		 } 
	}
}
.view-all {
	font-weight: 500;
	font-size: 15px;
	line-height: 160%;
	color: #485D6B;
}

.content-block-4 {
		// .content-block-4__title
		&__title {
			font-weight: 700;
			line-height: 100%;
			text-align: center;
			margin-bottom: 30px;
			color: #485D6B;
			padding-bottom: 30px;
			border-bottom: 1px solid #F7F7F7;
			@include adaptiveValue("font-size", 24, 16);
		}
	.content-block-4__bottom-row {
		width: 100%;
		display: flex;
		justify-content: flex-end;
	}
}
.five-clients {
	margin-bottom: 15px;

		// .five-clients__client
		&__client {
			display: flex;
			align-items: center;
			gap: 14px;

			&:not(:last-child) {
				margin-bottom: 60px;
				@media (max-width:$tablet){
					margin-bottom: 40px;
				}
				@media (max-width:$mobile){
					 margin-bottom: 24px; 
				}
			}
			// .five-clients__client--1
			&--1 {
				.client-circle {
					background-color: #F8D3E0;
					color: #c36281;
				}
			}
			// .five-clients__client--2
			&--2 {
				.client-circle {
					background-color: #D3D7F8;
					color: #6266c3;
				}
			}
			// .five-clients__client--3
			&--3 {
				.client-circle {
					background-color: #D3F1F8;
					color: #62a0c3;
				}
			}
			// .five-clients__client--4
			&--4 {
				.client-circle {
					background-color: #F8E5D3;
					color: #c37962;
				}
			}
			// .five-clients__client--5
			&--5 {
				.client-circle {
					background-color: #E8D3F8;
					color: #bb62c3;
				}
			}
		}
}
.client-circle {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	font-weight: 600;
	font-size: 15px;
	text-align: center;
	
}
.client-name {
	font-weight: 500;
	font-size: 15px;
	line-height: 160%;
	color: #757575;
}



#diagram1 {
	background: conic-gradient(
		#15a1cd 25%, 
		#156acd 25% 50%, 
		#15cdac 50% 75%, 
		#7715CD 75%
	);
	border-radius: 50%;
	width: 260px;
	height: 260px;
}
.diagram1 {
	position: relative;
	margin: 0 auto;
	// .diagram1__center-area
	&__center-area {
		position: absolute;
		top: 33px;
		left: 33px;
		width: 194px;
		height: 194px;
		background-color: #fff;
		border-radius: 50%;
		z-index: 2;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	// .diagram1__number
	&__number {
		font-weight: 600;
		font-size: 38px;
		margin-bottom: 3px;
	}
	// .diagram1__text
	&__text {
		font-weight: 600;
		font-size: 22px;	
		color:#757575;
	}
}

#diagram2 {
	border-radius: 50%;
	width: 260px;
	height: 260px;
}

.diagram2 {
	position: relative;
	transform: rotate(-90deg);

		// .diagram2__center-area
		&__center-area {
			position: absolute;
			top: 33px;
			left: 33px;
			width: 194px;
			height: 194px;
			background-color: #fff;
			border-radius: 50%;
			z-index: 2;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}
		// .diagram2__number
		&__number {
			position: relative;
			font-weight: 600;
			font-size: 40px;
			text-align: center;
			width: 143px;
			height: 143px;
			border-radius: 50%;
			background-color: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.1);
			z-index: 3;
			margin: -70px auto 30px;
			@media (max-width:$mobileSmall){
				font-size: 30px; 
			}
		}
}
.diagram2-wrapper {
	width: 260px;
	height: 130px;
	overflow: hidden;
	margin: 0 auto;
}




//=============================================TABLE==========================================================
.table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;

	thead {
		background-color: #F1F2F6;
		font-weight: 600;
		font-size: 15px;
		line-height: 160%;
	}

	th, td {
		text-align: left;
		padding: 14px 14px 14px 7%;

		@media (max-width:$mobile){
			padding: 12px 8px 12px 4%;
		}
	}
	td {
		font-weight: 500;
		font-size: 15px;
		line-height: 160%;
	}
	tbody tr {
		border-top: 1px solid #F1F2F6;
	}
}

.table-pc {
	display: table;
	@media (max-width:$mobile){
		display: none; 
	}
}

.table-mobile {
	display: none;
}

@media (max-width:$mobile){
	.table-mobile {
		display: table;
	}
	.table-mobile td {
		font-size: 13px;
	}
	.table__client {
		font-weight: 600;
	}
	.table__date {
		text-align: right !important;
		display: flex;
		align-items: flex-start;
		justify-content: flex-end;
	}
}
//=======================================================================================================

